<p>Congratulations <%= name %>!</p>
<p>
  We are pleased to inform you that your Mentorship Application <%= mentorshipName %> has been approved by your mentor after careful consideration.
  <br />
  Based on your mentorship application, <%= mentorName %> suggests that you purchase <%= numSlots %> mentorship passes, to be used over a suggested mentorship period of <%= duration %> months.
  <br />
  <%if (message) { %>
    Additionally, your mentor has a message for you: <br />
    <p>
      <%= message %>
    </p>
  <% } %>
  <br />
  We hope you have an enjoyable mentorship journey with DigiDojo, and that you will be able to meet your objectives through this mentorship program.
  <br />
</p>
